docs/Node-Red/flows.json
[
    {
        "id": "eca96c5e.21f5d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d049f94.b73aa",
        "type": "debug",
        "z": "eca96c5e.21f5d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 740,
        "wires": []
    },
    {
        "id": "de4134a6.e66328",
        "type": "inject",
        "z": "eca96c5e.21f5d",
        "name": "Heater-On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pool/cmd/heater",
        "payload": "1",
        "payloadType": "num",
        "x": 820,
        "y": 100,
        "wires": [
            [
                "9b3cc0f5.bff4e"
            ]
        ]
    },
    {
        "id": "9b3cc0f5.bff4e",
        "type": "mqtt out",
        "z": "eca96c5e.21f5d",
        "name": "mqtt_Publisher",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5b407c79.121c34",
        "x": 1120,
        "y": 100,
        "wires": []
    },
    {
        "id": "6309cafc.7a8fc4",
        "type": "mqtt in",
        "z": "eca96c5e.21f5d",
        "name": "mqtt_Subscriber",
        "topic": "pool/stat/temp/water",
        "qos": "2",
        "datatype": "auto",
        "broker": "5b407c79.121c34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 740,
        "wires": [
            [
                "3d049f94.b73aa",
                "6a797a9d.36a074",
                "bc959d50.47871"
            ]
        ]
    },
    {
        "id": "fb104de.a0ce0b",
        "type": "inject",
        "z": "eca96c5e.21f5d",
        "name": "Heater-Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pool/cmd/heater",
        "payload": "0",
        "payloadType": "num",
        "x": 820,
        "y": 140,
        "wires": [
            [
                "9b3cc0f5.bff4e"
            ]
        ]
    },
    {
        "id": "68607bb.ad72a84",
        "type": "inject",
        "z": "eca96c5e.21f5d",
        "name": "Pump-On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pool/cmd/pump",
        "payload": "1",
        "payloadType": "num",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "9b3cc0f5.bff4e"
            ]
        ]
    },
    {
        "id": "bd8cbfff.a5709",
        "type": "inject",
        "z": "eca96c5e.21f5d",
        "name": "Pump-Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pool/cmd/pump",
        "payload": "0",
        "payloadType": "num",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "9b3cc0f5.bff4e"
            ]
        ]
    },
    {
        "id": "7a48936.7a9986c",
        "type": "ui_switch",
        "z": "eca96c5e.21f5d",
        "name": "",
        "label": "Chauffe Eau",
        "tooltip": "",
        "group": "e8e8b538.824888",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "pool/cmd/heater",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 830,
        "y": 280,
        "wires": [
            [
                "9b3cc0f5.bff4e"
            ]
        ]
    },
    {
        "id": "f54b2857.0d99f8",
        "type": "ui_chart",
        "z": "eca96c5e.21f5d",
        "name": "",
        "group": "e8e8b538.824888",
        "order": 8,
        "width": 8,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 690,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6a797a9d.36a074",
        "type": "ui_gauge",
        "z": "eca96c5e.21f5d",
        "name": "",
        "group": "e8e8b538.824888",
        "order": 7,
        "width": 8,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature Eau",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 860,
        "wires": []
    },
    {
        "id": "b38183ed.4f857",
        "type": "mqtt in",
        "z": "eca96c5e.21f5d",
        "name": "stat_heater",
        "topic": "pool/stat/heater",
        "qos": "2",
        "datatype": "auto",
        "broker": "5b407c79.121c34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "db92c539.5d9598",
                "7a48936.7a9986c"
            ]
        ]
    },
    {
        "id": "db92c539.5d9598",
        "type": "ui_led",
        "z": "eca96c5e.21f5d",
        "order": 2,
        "group": "e8e8b538.824888",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#bab5b5",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led_Heater",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "bc959d50.47871",
        "type": "delay",
        "z": "eca96c5e.21f5d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 510,
        "y": 800,
        "wires": [
            [
                "f54b2857.0d99f8"
            ]
        ]
    },
    {
        "id": "d2aa6aeb.02aec8",
        "type": "mqtt in",
        "z": "eca96c5e.21f5d",
        "name": "stat_pump",
        "topic": "pool/stat/pump",
        "qos": "2",
        "datatype": "auto",
        "broker": "5b407c79.121c34",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "1a003c11.9ac074",
                "1169394.782bdc7"
            ]
        ]
    },
    {
        "id": "1a003c11.9ac074",
        "type": "ui_led",
        "z": "eca96c5e.21f5d",
        "order": 4,
        "group": "e8e8b538.824888",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#bab5b5",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led_Pump",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "1169394.782bdc7",
        "type": "ui_switch",
        "z": "eca96c5e.21f5d",
        "name": "",
        "label": "Pompe",
        "tooltip": "",
        "group": "e8e8b538.824888",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "pool/cmd/pump",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "9b3cc0f5.bff4e"
            ]
        ]
    },
    {
        "id": "eecde3b6.f4e5",
        "type": "cronplus",
        "z": "eca96c5e.21f5d",
        "name": "PumpSchedule",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": true,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "Shedule 1",
                "topic": "shchedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 */3 * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 220,
        "y": 600,
        "wires": [
            [
                "a9800917.f46678"
            ]
        ]
    },
    {
        "id": "45a93d0f.473594",
        "type": "trigger",
        "z": "eca96c5e.21f5d",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "8a99e68f.92de48",
                "6c352184.5366b",
                "d48c8255.2afdd"
            ]
        ]
    },
    {
        "id": "8a99e68f.92de48",
        "type": "debug",
        "z": "eca96c5e.21f5d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "b2024a5c.ac30a8",
        "type": "ui_switch",
        "z": "eca96c5e.21f5d",
        "name": "Mode",
        "label": "Mode",
        "tooltip": "",
        "group": "e8e8b538.824888",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "auto",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "manual",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "7bb48589.c72f9c"
            ]
        ]
    },
    {
        "id": "a9800917.f46678",
        "type": "switch",
        "z": "eca96c5e.21f5d",
        "name": "Check mode auto",
        "property": "mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 600,
        "wires": [
            [
                "45a93d0f.473594"
            ]
        ]
    },
    {
        "id": "7bb48589.c72f9c",
        "type": "function",
        "z": "eca96c5e.21f5d",
        "name": "",
        "func": "global.set('mode',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 520,
        "wires": [
            [
                "4fc5f4a.acdc70c",
                "170c24af.071edb"
            ]
        ]
    },
    {
        "id": "4fc5f4a.acdc70c",
        "type": "debug",
        "z": "eca96c5e.21f5d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "170c24af.071edb",
        "type": "ui_text",
        "z": "eca96c5e.21f5d",
        "group": "e8e8b538.824888",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 560,
        "wires": []
    },
    {
        "id": "6c352184.5366b",
        "type": "mqtt out",
        "z": "eca96c5e.21f5d",
        "name": "mqtt_Publisher",
        "topic": "pool/cmd/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5b407c79.121c34",
        "x": 940,
        "y": 580,
        "wires": []
    },
    {
        "id": "ad0e7203.ff1ee",
        "type": "e-mail",
        "z": "eca96c5e.21f5d",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "stephenr70@gmail.com",
        "dname": "Email Stephen",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "d48c8255.2afdd",
        "type": "function",
        "z": "eca96c5e.21f5d",
        "name": "Build email",
        "func": "msg = {\n    payload : \"Pompe: \" + msg.payload + \"  \" + Date().toString(),\n    topic : \"État de la piscine\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 480,
        "wires": [
            [
                "ad0e7203.ff1ee",
                "b7a64f7e.93843"
            ]
        ]
    },
    {
        "id": "b7a64f7e.93843",
        "type": "debug",
        "z": "eca96c5e.21f5d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 500,
        "wires": []
    },
    {
        "id": "5b407c79.121c34",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.70.233",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e8e8b538.824888",
        "type": "ui_group",
        "name": "Default",
        "tab": "2529fc22.330f24",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "2529fc22.330f24",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]